#root {
    min-height: 100vh;
    background-color: lightcoral;
}

.primaryLink {
    color: grey;
    font-size: 25px;
    font-weight: 900
}

.enoughForGame {
    color: lawngreen
}

.notEnoughForGame {
    color: red
}

.expected {
    color: yellow
}

.playing {
    color: lawngreen;
}

.ended {
    color: red;
}

.welcome {
    color: aqua;
    font-weight: 900;
    text-align: center;
}