.pageContainer
  display: flex
  flex-direction: column
  min-height: 100vh
  justify-content: center

.waitingRoomContainer
  display: flex
  flex-direction: column
  align-items: center
  font-size: 23px
  color: black
  span
    font-weight: 800

.msgForOwner
  color: red
  font-size: 25px
  font-weight: 800

.boardCellContainer
  background-color: white
  width: 100%
  padding-top: 100%
  position: relative
  border: 1px solid white

.plug
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0


.explored
  border: 1px solid black

.stayingCircle
  height: 100px
  width: 100px
  background: grey
  border-radius: 50%