.itemContainer
  border-radius: 2%
  border: 2px solid grey
  font-weight: 600
  color: black
  font-size: 18px
  margin: 20px 0
  p
    text-align: center


.returnBtnContainer
  margin-top: 20px

.item
  color: #0069ed

.roomOwner
  @media screen and (max-width: 576px)
    font-size: 14px